body {
    font-family: "Poppins", sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.back-button {
    position: fixed;
    top: 15px;
    left: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    text-decoration: none;
    background-color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .back-button i {
    font-size: 16px;
  }
  
  .back-button:hover {
    background-color: #f0f0f0;
    color: #000;
  }

.payment-container {
    width: 80%;
    margin: 20px auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    text-align: center;
    color: #004600;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 20px;
}

h3 {
    margin: 0 0 10px;
    font-size: 18px;
    color: #004600;
}

p {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
}

.edit-button {
    display: inline-block;
    margin-top: 10px;
    font-size: 14px;
    color: #69BF5E;
    text-decoration: none;
    font-weight: bold;
}

.edit-button:hover {
    text-decoration: underline;
}

.order-item {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.product-image {
    width: 80px;
    height: 80px;
    margin-right: 15px;
    border-radius: 5px;
    background-color: #e0e0e0;
    object-fit: cover;
}

.details {
    color: #004600;
}

.payment-method {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.total {
    text-align: right;
    font-size: 16px;
    color: #004600;
    font-weight: bold;
}

.checkout-button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #69BF5E;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.checkout-button:hover {
    background-color: #57a84d;
}
