/* style.css */
/* style.css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px 25px;
    box-sizing: border-box;
}

.reset-right {
    text-align: center;
    width: 100%;
}

.logo {
    font-family: 'Merriweather', serif;
    font-size: 24px;
    font-weight: 700;
    color: #69BF5E;
    margin-bottom: 20px;
}

h2 {
    font-size: 22px;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
}

.reset-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.reset-form input {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.reset-form input:focus {
    outline: none;
    border-color: #69BF5E;
    box-shadow: 0 0 5px rgba(105, 191, 94, 0.5);
}

.start-btn {
    width: 100%;
    padding: 10px 15px;
    background: #69BF5E;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.start-btn:hover {
    background: #57a04d;
}

.reset-link a {
    font-size: 14px;
    color: #69BF5E;
    text-decoration: none;
    transition: color 0.3s ease;
}

.reset-link a:hover {
    color: #57a04d;
}
