<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KULAKAN</title>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tentang.css') }}">
</head>
<body>
    <a href="{{ url_for('setting') }}" class="back-button">
        <i class=""></i> Kembali
      </a>
        <div class="about-container">
            <div class="about-content">
                <h1>Tentang Kami</h1>
                <p>
                    Kulakan adalah sebuah platform yang dikembangkan untuk membantu toko kelontong dan pelaku UMKM dalam memasarkan dan menjual produk mereka. Pembuatan aplikasi ini merupakan hasil kerja keras mahasiswa Poltek Harber yang berkomitmen untuk menciptakan solusi digital yang dapat meningkatkan efisiensi dan daya saing usaha kecil. Di tengah perkembangan teknologi yang pesat, banyak toko kelontong yang belum sepenuhnya memanfaatkan platform digital untuk menjangkau pasar yang lebih luas. Dengan hadirnya Kulakan, diharapkan dapat memberikan kemudahan bagi mereka untuk mengelola penjualan, memperluas jangkauan pasar, serta meningkatkan visibilitas produk. Aplikasi ini bertujuan untuk mendukung toko kelontong dan UMKM dalam menjalankan usaha, mengoptimalkan proses transaksi, dan mempermudah adaptasi terhadap perkembangan teknologi e-commerce.
                </p>
            </div>
            <div class="features">
                <div class="feature-item">
                    <h2>Mohamad Farkhan Mukharom</h2>
                    <p>
                        Fullstack Developer of Webite Kulakan
                    </p>
                </div>
                <div class="feature-item">
                    <h2>Moh Fariz</h2>
                    <p>
                        Frontend Developer of Website Kulakan
                    </p>
                </div>
                <div class="feature-item">
                    <h2>Reyhan Eugene Sayhputra</h2>
                    <p>
                        Mobile Developer of Kulakan App
                    </p>
                </div>
                <div class="feature-item">
                    <h2>Hafidz Rahmatullah</h2>
                    <p>
                        Chatbot Founder 
                    </p>
                </div>
            </div>
        </div>
</body>
</html>
