<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KULAKAN</title>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pesanan.css') }}">
</head>
<body>
    <a href="{{ url_for('home') }}" class="back-button">Kembali
      </a>
<div class="order-list">
    <h1>Daftar Pesanan</h1>
    <div class="order-card">
        <div class="order-info">
            <img src="path/to/image.jpg" alt="Produk" class="product-image">
            <div class="order-details">
                <h3>Toko Maep Maju Jaya</h3>
                <p>Beras 50 kg</p>
                <p><strong>Total 1 Produk :</strong> <span class="price">Rp 340.000,00</span></p>
            </div>
        </div>
        <div class="order-status">
            <p class="status-text">Selesai</p>
            <button class="rate-button">Nilai</button>
        </div>
    </div>
</div>
</body>
</html>