<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <div class="forgot-container">
        <div class="forgot-left">
            <img src="{{ url_for('static', filename='asset/image/key.png') }}" alt="Cartbg">
        </div>
        <div class="forgot-right">
            <div class="logo">Kulakan.</div>
            <h2>Lupa Kata Sandi</h2>
            <p class="forgot-description">Masukkan email Anda untuk menerima instruksi reset kata sandi</p>
            <form class="forgot-form" method="POST">
                <input type="email" name="email" placeholder="Email" required>
                <button type="submit" class="start-btn">Kirim Instruksi</button>
            </form>
            <p class="forgot-link">
                <a href="{{ url_for('login') }}">Kembali ke Login</a>
            </p>
        </div>
    </div>
</body>
</html>
